.label{
  padding: 5px 13px;
  background-color: rgba(238, 0, 255, 0.15);
  color: rgba(black, .9);
  font-size: 12px;
  // line-height: 25px;
  font-weight: 600;
  text-transform: none;
  border-radius: 26px;
  margin-bottom: 20px;
  display: inline-block;
}