.article-short{
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 6px 0 rgba(black, 0.05), inset 0px 0px 0px 1px rgba(black, .1);
  background-color: #fff;
  transition: all .5s ease;
  width: 100%;
  display: block;
  &.sticky-top{
    position: sticky;
    top: 0;
  }
  &.big{
    .info-wrap{
      h2{
        font-size: 30px;
        line-height: 37px;
        color: rgba(black, .8);
      }
    }
  }
  &:hover{
    text-decoration: none;
    box-shadow: 0 2px 6px 0 rgba(black, 0.15), inset 0px 0px 0px 1px rgba(black, .1);
    h2 span, h3 span{
      background-size: 100% 2px;
      transition-delay: 0s;
    }
    label{
      text-decoration: none;
    }
  }
  .img-wrap{
    padding-top: 90%;
    width: 100%;
    position: relative;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .info-wrap{
    padding: 30px;
    padding-bottom: 10px;
    h2{
      font-size: 20px;
      line-height: 28px;
      color: rgba(black, .8);
      font-weight: $font-bold;
      margin-bottom: 20px;
    }
    .article-short-content{
      font-size: 17px;
      line-height: 31px;
      color: rgba(black, .8);
      padding-bottom: 20px;
    }
  }
  &.horizontal{
    display: flex;
    margin-bottom: 30px;
    .img-wrap{
      width: 221px;
      min-width: 221px;
      max-width: 221px;
      padding-top: 221px;
      img{
        top: 49%;
        left: 49%;
        height: 102%;
        width: 102%;
      }
    }
    .info-wrap{
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}

@media(max-width: 440px) {
  .article-short{
    &.horizontal{
      display: block;
      margin-bottom: 15px;
      .img-wrap{
        padding-top: 90%;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        position: relative;
      }
      .info-wrap{
        width: 100%;
        display: block;
        padding: 10px;
        padding-bottom: 10px;
        h2{
          padding-top: 0;
          font-size: 15px;
          line-height: 1.2;
          margin-bottom: 5px;
          max-width: calc(100% - 20px);
        }
        label{
          margin-bottom: 0;
        }
      }
    }
  } 
}