.article-short{
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 6px 0 rgba(black, 0.05), inset 0px 0px 0px 1px rgba(black, .1);
  background-color: #fff;
  transition: all .5s ease;
  width: 100%;
  display: block;
  &.big{
    margin-bottom: 30px;
  }
  &.sticky-top{
    position: sticky;
    top: 0;
  }
  &:hover{
    text-decoration: none;
    box-shadow: 0 2px 6px 0 rgba(black, 0.15), inset 0px 0px 0px 1px rgba(black, .1);
  }
  .img-wrap-back{
    padding-top: 90%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  .info-wrap{
    padding: 30px;
    padding-bottom: 10px;
    h3{
      margin-bottom: 20px;
    }
    .article-short-content{
      font-size: 17px;
      line-height: 1.82;
      color: $text;
      padding-bottom: 20px;
    }
  }
  &.horizontal{
    display: flex;
    margin-bottom: 30px;
    .img-wrap-back{
      width: 221px;
      min-width: 221px;
      max-width: 221px;
      padding-top: 221px;
      img{
        top: 49%;
        left: 49%;
        height: 102%;
        width: 102%;
      }
    }
    .info-wrap{
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}

@media(max-width: 380px) {
  .article-short{
    &.horizontal{
      margin-bottom: 15px;
      align-items: center;
      .img-wrap-back{
        padding-top: 0;
        height: 100%;
        max-height: 170px;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        position: relative;
        overflow: hidden;
        align-self: flex-start;
      }
      .info-wrap{
        width: 100%;
        display: block;
        padding: 15px;
        h3{
          padding-top: 0;
          margin-bottom: 5px;
          max-width: calc(100% - 20px);
        }
        label{
          margin-bottom: 0;
        }
      }
    }
  } 
}