.rating-star {
  width: 28px;
  height: 26px;
}

.raiting-wrap{
  display: flex;
  align-items: center;
  > span{
    font-size: 30px;
    font-weight: $font-bold;
    line-height: 30px;
    color: $text;
    margin-right: 20px;
  }
}

.rating{
  ul{
    li{
      display: inline-block;
      img, svg{
        height: 26px;
        width: 28px;
      }
    }
  }
}