.modal-body-newsletter{
  .newsleter{
    padding: 80px 35px;
    padding-bottom: 270px;
    height: auto;
    text-align: center;
    background-image: url('/assets/mobile-news.svg');
    background-position: center bottom;
    background-size: 100% auto;
  }
}