.category-top{
  background-color: $gray;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 0;
  padding-bottom: 0;
  .category-top-wrap{
    position: relative;
    padding-top: 85px;
    padding-bottom: 0;
  }
  h1{
    color: rgba(0, 0, 0, 0.9);
    font-size: 40px;
    font-weight: $font-bold;
    line-height: 1.3;
    margin-bottom: 65px!important;
  }
}