@media(max-width: $breakpoint-xlarge) {
  // $breakpoint-xlarge: 1600px
}
@media(max-width: $breakpoint-large) {
  // $breakpoint-large: 1200px
  
}
@media(max-width: $breakpoint-medium) {
  // $breakpoint-medium: 960px
  .header-wrap{
    justify-content: space-between;
  }
  .top{
    > .uk-grid{
      flex-direction: column;
    }
    .img{
      height: auto;
      min-height: 270px;
      max-height: 500px;
    }
    .info{
      .info-top{
        padding-top: 30px;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
      }
      .button{
        bottom: auto;
        top: -55px;
      }
      label{
        margin-left: -50px;
      }
    }
  }
  body h1{
    margin-bottom: 20px;
  }
  .full-img {
    max-height: 400px;
  }

  .bottom-section {
    .title { 
      h2 {
        font-size: 42px;
      }
    }
  }
  .blog-short-info-wrap{
    height: auto;
  }
}
@media(max-width: $breakpoint-small) {
  // $breakpoint-small: 640px
  .homepage{
    background-size: 60% auto, 60% auto;
    background-position: -50px 70px, 135% 70px;
  }
  .full-img {
    max-height: 270px;
  }
  .top{
    padding-top: 40px;
    padding-bottom: 120px;
    text-align: center;
    a{
      display: inline-block;
      font-size: 14px;
      &.button.bare{
        margin-left: 0;
        margin-top: 20px;
        display: block;
      }
    }
  }
  body{
    h1{
      font-size: 31px;
      line-height: 36px;
      text-align: center;
    }
    h2{
      font-size: 24px;
      line-height: 29px;
    }
    h3{
      font-size: 17px;
      line-height: 20px;
    }
    label{
      font-size: 14px;
    }
    .big-text p{
      font-size: 15px;
      line-height: 24px;
    }
    p{
      font-size: 11px;
      line-height: 18px;
    }
  }
  .content {
    h2{
      margin-bottom: 30px;
    }
    figure{
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  }
  .blog-short{
    h2{
      font-size: 23px;
      margin-bottom: 15px;
    }
   
  } 
  .banner{
    height: 116px;
  }
  .blog-one-col-short{
    a{
      flex-direction: column;
      height: auto;
    }
    .blog-short-img-wrap{
      max-width: 100%;
      height: 170px;
      min-height: 170px;
      width: 100%;
    }
    .blog-short-info-wrap{
      padding: 20px 20px;
      h2{
        margin-bottom: 0;
      }
    }
    label{
      font-size: 10px;
    }
  }
  .blog-short-img-wrap{
    height: 250px;
  }
  .blog-short-info-wrap{
    padding: 20px 20px;
    label{
      margin-bottom: 5px;
      font-size: 12px;
    }
    h3{
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
  footer{
    .footer-top{
      .newsleter{
        height: 370px;
        padding: 30px 40px;
        text-align: center;
        background-size: 140% 50%;
        background-position: -150px 100%;
        .title{
          width: 100%;
          h2{
            font-size: 31px;
            line-height: 1.16;
          }
        }
      }
    }
    .footer-bottom-wrap{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .logo{
        margin-bottom: 30px;
        padding-right: 0;
      }
      nav{
        margin-bottom: 30px;
        text-align: center;
        ul{
          text-align: center;
          li{
            padding-left: 0;
            padding-right: 0;
            text-align: center;
          }
        }
      }
    }
  }
  .header-wrap{
    padding: 15px 0;
  }
  .post-date{
    font-size: 11px;
    line-height: 21px;
    white-space: nowrap;
  }
  .author-block{
    padding-top: 20px;
    padding-bottom: 20px;
    .author{
      .img-author{
        min-width: 50px;
        max-width: 50px;
        width: 50px;
        height: 50px;
      }
      .name-author {
        h5{
          font-size: 11px;
          line-height: 21px;
        }
        span {
          font-size: 8px;
        }
      }
    }
  }
  .button{
    font-size: 14px;
    // min-width: 160px;
    padding: 10px;
  }
  .labels ul li a{
    font-size: 10px;
    padding: 8px 20px;
  }
  .share-buttons ul{
    left: 0;
    top: -60px;
    li{
      display: inline-block;
      &:not(:last-child) {
        margin-right: 10px;
      }
      a{
        margin-bottom: 0;
        width: 40px;
        height: 40px;
        svg, img{
          height: 18px;
        }
      }
    }
  }

  .bottom-section {
    .title { 
      h2 {
        font-size: 38px;
      }
    }
  }
}
