@media(max-width: $breakpoint-xlarge) {
  // $breakpoint-xlarge: 1600px
}
@media(max-width: 1200px) {
  .hp-grid{
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}


@media(max-width: $breakpoint-large) {
  // $breakpoint-large: 1100px
  .blog-article .article-top{
    > .uk-container{
      padding-left: 30px;
      padding-right: 30px;
    }
    .full-img{
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
    .title{
      &:after{
        display: none;
      }
      .title-wrap{
        padding-left: 40px;
        padding-right: 40px;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
      }
    }
    .perex-wrap{
      padding-left: 40px;
      padding-right: 40px;
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media(max-width: $breakpoint-medium) {
  // $breakpoint-medium: 960px

  .cat-grid{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }

  .blog-article .article-top{
    > .uk-container{
      padding-left: 30px;
      padding-right: 30px;
    }
    .title .title-wrap{
      padding-left: 0;
      padding-right: 0;
    }
    .perex-wrap{
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .full-img {
    max-height: 400px;
  }
}
@media(max-width: $breakpoint-small) {
  // $breakpoint-small: 640px

  body{
    h1{
      font-size: 30px;
    }
    h2{
      font-size: 20px;
    }
    h3{
      font-size: 15px;
    }
    label{
      font-size: 14px;
    }
    .text-big p{
      font-size: 16px;
    }
    p{
      font-size: 15px;
    }
  }

  .content {
    h2{
      margin-bottom: 30px;
    }
    figure{
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  }

  .resp-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
  }

  .cat-grid{
    grid-template-columns: 1fr;
  }

  .blog-article .article-top > .uk-container{
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .full-img{
    margin-left: -15px;
    width: calc(100% + 30px);
    max-height: 270px;
  }

  .text-content{
    margin-bottom: 20px;
    ul li{
      font-size: 15px;
      padding-left: 20px;
      &:before{
        width: 10px;
        top: 14px;
      }
    }
  }
}


