@media(max-width: $breakpoint-xlarge) {
  // $breakpoint-xlarge: 1600px
}
@media(max-width: 1200px) {
  .hp-grid{
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}


@media(max-width: $breakpoint-large) {
  // $breakpoint-large: 1100px
  .blog-article{
    .article-top{
      > .uk-container{
        padding-left: 30px;
        padding-right: 30px;
      }
      .full-img{
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
      }
      .title{
        &:after{
          display: none;
        }
        .title-wrap{
          padding-left: 40px;
          padding-right: 40px;
          max-width: 750px;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 0;
        }
      }
      .perex-wrap{
        padding-left: 40px;
        padding-right: 40px;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media(max-width: $breakpoint-medium) {
  // $breakpoint-medium: 960px

  .cat-grid{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }

  .blog-article{
    .article-top{
      > .uk-container{
        padding-left: 30px;
        padding-right: 30px;
      }
      .title{
        .title-wrap{
          padding-left: 0;
          padding-right: 0;
        }
      }
      .perex-wrap{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .header-wrap{
    justify-content: space-between;
  }
  .top{
    > .uk-grid{
      flex-direction: column;
    }
    .img{
      height: auto;
      min-height: 270px;
      max-height: 500px;
    }
    .info{
      .info-top{
        padding-top: 30px;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
      }
      .button{
        bottom: auto;
        top: -55px;
      }
      label{
        margin-left: -50px;
      }
    }
  }
  body h1{
    margin-bottom: 20px;
  }
  .full-img {
    max-height: 400px;
  }

  .bottom-section {
    .title { 
      h2 {
        font-size: 42px;
      }
    }
  }
  .blog-short-info-wrap{
    height: auto;
  }
}
@media(max-width: $breakpoint-small) {
  // $breakpoint-small: 640px

  .resp-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .cat-grid{
    grid-template-columns: 1fr;
  }

  .blog-article{
    .article-top{
      > .uk-container{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .full-img{
    margin-left: -15px;
    width: calc(100% + 30px);
  }
  .homepage{
    background-size: 60% auto, 60% auto;
    background-position: -50px 70px, 135% 70px;
  }
  .full-img {
    max-height: 270px;
  }
  .top{
    padding-top: 40px;
    padding-bottom: 120px;
    text-align: center;
    a{
      display: inline-block;
      font-size: 14px;
      &.button.bare{
        margin-left: 0;
        margin-top: 20px;
        display: block;
      }
    }
  }
  body{
    h1{
      font-size: 31px;
      line-height: 36px;
      // text-align: center;
    }
    h2{
      font-size: 24px;
      line-height: 28px;
    }
    h3{
      font-size: 17px;
      line-height: 20px;
    }
    label{
      font-size: 14px;
    }
    .big-text p{
      font-size: 17px;
      line-height: 27px;
    }
    p{
      font-size: 16px;
      line-height: 26px;
    }
  }
  .content {
    h2{
      margin-bottom: 30px;
    }
    figure{
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  }
  .blog-short{
    h2{
      font-size: 23px;
      margin-bottom: 15px;
    }
    // div, p{
    //   font-size: 14px;
    //   line-height: 18;
    // }
  } 
  .banner{
    height: 116px;
  }
  .blog-one-col-short{
    a{
      flex-direction: column;
      height: auto;
    }
    .blog-short-img-wrap{
      max-width: 100%;
      height: 170px;
      min-height: 170px;
      width: 100%;
    }
    .blog-short-info-wrap{
      padding: 20px 20px;
      h2{
        margin-bottom: 0;
      }
      div, p{
        font-size: 14px;
        line-height: 18px;
      }
    }
    label{
      font-size: 10px;
    }
  }
  .blog-short-img-wrap{
    height: 250px;
  }
  .blog-short-info-wrap{
    padding: 20px 20px;
    label{
      margin-bottom: 5px;
      font-size: 12px;
    }
    h3{
      font-size: 18px;
      margin-bottom: 15px;
    }
    p{
      font-size: 14px;
      line-height: 23px;
    }
    div{
      font-size: 14px;
      line-height: 23px;
    }
  }
  footer{
    .footer-top{
      .newsleter{
        height: auto;
        padding: 60px 20px;
        text-align: center;
        background-size: 150% auto;
        background-position: -150px 100%;
        .title{
          width: 100%;
          h2{
            font-size: 31px;
            line-height: 1.16;
          }
        }
      }
    }
    .footer-bottom-wrap{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .logo{
        margin-bottom: 30px;
        padding-right: 0;
      }
      nav{
        margin-bottom: 30px;
        text-align: center;
        ul{
          text-align: center;
          li{
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            &.title{
              text-align: center;
            }
          }
        }
      }
    }
  }
  .header-wrap{
    padding: 10px 0 15px;
  }
  .post-date{
    font-size: 11px;
    line-height: 21px;
    white-space: nowrap;
  }
  .author-block{
    padding-top: 20px;
    padding-bottom: 20px;
    .author{
      .img-author{
        min-width: 50px;
        max-width: 50px;
        width: 50px;
        height: 50px;
      }
      .name-author {
        h5{
          font-size: 11px;
          line-height: 21px;
        }
        span {
          font-size: 8px;
        }
      }
    }
  }
  .button{
    font-size: 14px;
    min-width: 200px;
    padding: 10px;
  }
  .labels ul li a{
    font-size: 10px;
    padding: 8px 20px;
  }
  .share-buttons ul{
    left: 0;
    top: -60px;
    li{
      display: inline-block;
      &:not(:last-child) {
        margin-right: 10px;
      }
      a{
        margin-bottom: 0;
        width: 40px;
        height: 40px;
        svg, img{
          height: 18px;
        }
      }
    }
  }
  .text-content ul li{
    font-size: 16px;
    line-height: 26px;
    padding-left: 20px;
    &:before{
      width: 10px;
      height: 1.5px;
      top: 14px;
    }
  }

  .bottom-section {
    .title { 
      h2 {
        font-size: 38px;
      }
    }
  }
}


